[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wtforms = "*"
sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-wtf = "*"
flask-markdown = "*"
email-validator = "*"
pillow = "*"
requests = "*"
pytest = "*"
selenium = "*"
lorem-text = "*"
Flask = "*"
Flask-SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
